.apartment-header, .owner__container, .apartment__owner {
    display: flex;
}

.apartment-header {
    justify-content: space-between;
    margin-bottom: 1em;
}

.apartment__owner {
    gap: 1em;
    margin-bottom: .8em;
}

.title__container h1, .title__container h2 {
    font-weight: 500;
    margin: 0;
}

.title__container h1 {
    font-size: 2rem;
    margin-bottom: .3em;
}

.title__container h2 {
    font-size: 1.2rem;
}

.apartments__tags {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 1rem;
}

.apartments__tags li {
    width: 10em;
    background-color: #FF6060;
    padding-block: .2em;
    border-radius: .7rem;
    text-align: center;
    font-size: 0.9rem;
    color: white;
}

.owner__container {
    flex-direction: column;
}

.owner__name {
    display: grid;
    place-content: center;
    text-align: right;
}

.owner__name h3 {
    margin: 0;
}

.apartment__owner {
    justify-content: end;
}

.apartment__owner-picture {
    height: 64px;
    width: 64px;
}

.apartment__owner-picture img {
    width: 100%;
    border-radius: 50%;
}

.apartment__rating {
    display: flex;
    justify-content: flex-end;
    gap: .6em;

}

.stars {
    font-size: 1.5rem;
}

.rating__star--off {
    color: #ddd;
}