.banner, .banner h1 {
    position: relative;
 }

.banner {
    display: grid;
    place-items: center;
    margin: 2em auto 4em;
    height: 8em;
    border-radius: 1.5em;
    color: white;
    background-color: black;
}

.banner::before {
    position: absolute;
    content: '';
    background-image: url(../assets/banner-img.png);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    inset: 0;
    border-radius: 1.5em;
}