.carousel {
    position: relative;
    display: grid;
    place-items: center;
    margin: 2em auto 4em;
    height: 30em;
    border-radius: 1.5em;
    color: white;
    background-color: #ddd;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    position: absolute;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn-prev {
    left: 1em;
}

.btn-next {
    right: 1em;
}

.fa-chevron-left, .fa-chevron-right {
    font-size: 5rem;
    color: rgba(255, 255, 255, .8);
}

.slider-count {
    position: absolute;
    font-size: 1.5rem;
    bottom: 1rem;
}